<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Metabor Test Suite">
            <directory>tests/Metabor/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Metabor/</directory>
        </whitelist>
        <blacklist>
            <directory>vendor/</directory>
        </blacklist>
    </filter>
</phpunit>
